:root{
    height:100vh;



}

body 
{
    
    background-color: rgb(236, 236, 241);
    margin-top: 30px;
    margin-bottom: 30px;
   
   
 
    
}

.rst_sec{
    
    top: 2em;
    margin: auto;
    width:75%;
    display: flex;
}
    
div.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }


    

    
    
   
    
}

.ind-review-loop {
    font-size: 20px;
    font-weight: 10;
}
#review-review {
    padding-bottom: 20px;
    display: -webkit-inline-box;
    max-width: 40%;
    min-width: 0;
    height: auto;
}
.review-grid {
    margin: 0.5rem 1rem 0rem 2.5rem;
}
.index-title {
    text-align: center;
}
.new-header {
    text-align: center;
}
#restaurant-image {
    width: 50%;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: 7rem;
    float:right;
    
    
   
}

.card-image img{
    height: 20rem; 
    height: 18rem; 
    
   
}


#row-ind{
   /* width:1200px;

} */
width:100rem;
}
.hero-body {
    padding: 3rem !important;
}
.card-title {
    font-size: 32px !important;
}
.card-content p {
    font-weight: bold !important;
}
.navbar {
    margin-right: 2rem !important;
    background-color:rgb(12, 158, 109);
    
    
}
.navbar-item img {
    max-height: 3.3rem !important;
    margin-left: 2rem !important;
}
#navbarMenuHeroA.navbar-menu {
    margin-right: 1rem !important;
}
#restaurant-info {
    text-align: center;
}
 .rst-name{
text-align: center;
 }  
    
    
    
   

.hero{
    margin-top: 50px;
}

.rst-inf{
   text-align: center;
   float: left;
   margin-left: 13rem;
   /* margin-top: 8rem; */
 
   

}

#sec-rst{
    
    width:85%;
    margin: auto;
    margin-top: 5em;
    
    
   
}

.new-rst{
    margin-left:50px;
    text-align: center;
}

#new-rst-ck{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4em;
    margin-top: 1em;
}

#new-rst-inf{
   /* margin-left: 300px; */
   text-align: center;
   position: relative;
   left:15em;
   margin-top:5rem;
}

h1.rev{
    text-align: center;
    margin-top: 2em;
    
}

.id-inf{

height:150vh;
width: 50%;
 
  
  
}

#id-row{
   height: 700px;
    margin-top: 10em;
  width: 100%;
    text-align: center;
    padding: 1em;
    border: 8px solid  rgb(0, 0,0, 0.19);
    border-radius: 15px 50px;
    
    margin-left: 32em;
    box-shadow: 12px 12px 22px 12px aquamarine;
    margin-right:1em ;
}

.id-form{
    margin-top: 7em;
    
}


div.input-field.col.s6 > label{
font-size: 20px;
}

div.input-field.col.s6{
    margin: 1em;
}

#new-btn{
    position: relative;
    left: 18em;
}

#id-row > form > div > input{
    margin-top:13em ;
}


#recommend-checkbox:hover{
    color: #af4c6a;
}

.hero-head{
   background-color: rgb(153, 144, 161);
  position: fixed;
  width: 100%;
  top:0;
  z-index: 2;
}

#takeout-checkbox:hover{
color: black;
}

#dinein-checkbox:hover{
    color: black;
}


#delivery-checkbox:hover{
    color: black;
}

.navbar-end {
    position: absolute;
    right: 0.2em;
    bottom:0.5em;
    
    
    

}

.btns{
   margin-left:18rem;
   float: left;
   display: grid;
  grid-template-columns: 1fr 1fr ;
  font-size: 20px;
  text-align: center;
  column-gap: 2rem;
  margin-top: 100px;
 
}



a.btn:hover{
    color: #af4c6a;
}

a.btn{
    color:black;
}


@media screen and (max-width:1800px){
    .rst_sec{
       
    }

}

@media screen and (max-width:1530px){


    .rst-inf{
        position: relative;
        bottom:20em;
        right:10em;
        
        
      
        
     
     }

